.staffContent {
  display: flex;
  padding: 0.8rem;
  background-color: white;
  border-radius: 1.5rem;
  align-items: center;
  width: 80%;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.137);
}

.imgStaff {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}

.divContent {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  overflow-x: hidden;
}

.p {
  margin-bottom: 0.8rem;
}

.ulContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: Zen Dots;
}

.a {
  color: #9f75ff;
}

.a:hover {
  text-decoration: underline;
}

@media (max-width: 375px) {
  .divContent {
    margin: 1rem;
  }
  .staffContent {
    width: 100%;
  }
  .ulContent {
    gap: 0.3rem;
  }
}

@media (max-width: 321px) {
  .imgStaff {
    width: 5rem;
    height: 5rem;
  }
}
