.button{
  font-family: Zen Dots;

  outline: none;

  width: 100%;

  height: 100%;

  background-color: transparent;
  border: none;
  border-top: 1px solid #e1e1e1;

  text-align: center;
  justify-content: center;
}

.button:hover:not(:disabled){
  background-color: #e1e1e1;
}

.button:disabled{
  cursor: default;
}
