.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;

  overflow: hidden;
  font-family: Zen Dots;

  height: 60%;

  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.137);

}

@media (max-width: 1080px){
  .container{
    font-size: 1rem;
  }
}
