.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;

  overflow: hidden;
  font-family: Zen Dots;



  height: 60%;

  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.137);

}

@media (max-width: 1080px){
  .container{
    font-size: 1rem;
  }

  .inputNumber{
    font-size: 1rem;
    padding: 1.5rem 0.6rem;
  }
  .button{
    font-size: 1rem;
    padding: 1.5rem 0.6rem;
  }
}

.h2{
  margin: 0.8rem;
}

.inputNumber{
  font-family: Zen Dots;

  width: 100%;
  height: 100%;

  background-color: transparent;
  border: none;
  border-top: none;

  text-align: center;
  justify-content: center;
}

.button{
  font-family: Zen Dots;

  outline: none;

  width: 100%;

  height: 100%;

  background-color: transparent;
  border: none;
  border-top: 1px solid #e1e1e1;

  text-align: center;
  justify-content: center;
}

.button:hover{
  background-color: #e1e1e1;
}
