.headerContainer {
    background: #9F75FF;
    height: 4.5rem;

    display: flex;
    align-items: center;
    padding: 2rem 2rem;
}

.img {
    width: 16.3rem;
    height: 3.8rem;
}

@media (max-width: 1080px) {
    .headerContainer {
        justify-content: center;
    }
}
