.headerContainer {
    background: #9F75FF;
    height: 6.5rem;
    
    display: flex;
    align-items: center;
    padding: 2rem 2rem;

    border-bottom: 1px solid #AFB2B1;
}

.img {
    width: 16.3rem;
    height: 3.8rem;
}